body{
	background-color: #414647;
}


#logo{
	margin: auto;
	height: 80%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
img#river_martin{
	height: 30%;
	top: -5%;
	right: 0%;
	position: absolute;
    transform: rotate(-10deg);
}
.butt{
	position: absolute;
	top: 45px;
	margin: 0 auto;
	display: inline-block;
	max-width: 100%;
}

#chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 60px;
  width: 40px;
}

#chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 20%;
  width: 51%;
  background: #ebe158;
  -webkit-transform: skew(0deg, 45deg);
  transform: skew(0deg, 45deg);
}
#chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 20%;
  width: 50%;
  background: #ebe158;
  -webkit-transform: skew(0deg, -45deg);
  transform: skew(0deg, -45deg);
}​


